<ion-header>
  <ion-navbar color="primary">
    <ion-title>Estates</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-group *ngFor="let region of estates">
      <ion-item-divider color="secondary" >{{region.regionName}}</ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let estate of region.regionEstates">
          <ion-thumbnail item-start>
            <img src="{{estate.image}}">
          </ion-thumbnail>
          <h4>{{'Ref No.' + estate.refNumber}}</h4>
          <p>{{estate.type + ', ' + estate.bedrooms + ' Bedrooms'}}</p>
          <p><br>{{locat + ', ' + estate.region}}</p>
          <button ion-button clear item-end (click)="itemTapped($event, estate)">View</button>
        </ion-item>
      </ion-list>
  </ion-item-group>

</ion-content>